{% extends 'layout.html' %}

{% block content %}
<h1>Welcome to my portfolio website</h1>
<hr>
<div class="container">
    {% for project in projects %}
        <h2>{{ project.title }}</h2>
        <h6>{{ project.email }}</h6><br>
        <h4>{{ project.description }}</h4>
        {% if project.url %}
        <a href="{{project.url}}" target="_blank">Check out my GitHub</a>
        {% endif %}<br>
        <img src="{{ project.image.url }}" height=10% width=50%>
    {% endfor %}   
</div>
{% endblock %}
