{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'generator/mystyle.css' %}" type="text/css">
</head>
<header>
    <nav class="navbar">
        <a href="{% url 'about' %}" style="margin:0 auto"><h5>About</h5></a>
    </nav>
</header>
<hr>
<body>
    <div class="container text-center">
        <h1>Password Generator</h1>
        <form action="{% url 'password' %}">
            <select name="length">
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12" selected>12</option>
                <option value="13">13</option>
                <option value="14">14</option>
            </select>
            <br>
            Uppercase &nbsp: <input type="checkbox" name="uppercase">
            <br>
            Numbers? &nbsp: <input type="checkbox" name="numbers">
            <br>
            Special characters? &nbsp: <input type="checkbox" name="special">
            <br>
            <input type="submit" value="Generate Password?" class="btn btn-primary">
        </form>
    </div>
</body>
</html>